.app{
    flex-direction: column;
}
.header {
    height: 48px;
    background-color: rgb(250, 255, 224);
    box-sizing: border-box;
    border: 8px solid rgb(255, 251, 0);
  }
  .sidebarmenu {
    width: 96px;
    background-color: moccasin;
    box-sizing: border-box;
    border: 8px solid chocolate;
  }
  .sidebarmenu2 {
    width: 96px;
    background-color: rgb(181, 232, 255);
    box-sizing: border-box;
    border: 8px solid rgb(30, 129, 210);
  }
  .main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }
  
.dropzone {
    width: 80%;
    height: 400px;
    background-color: #f9f9f9;
    position: relative;
    border: 2px dashed #000;
    margin-top: 20px;
    z-index: 10;
    margin: 0 auto;
    flex-grow: 1;
  }

  .component {
    position: absolute;
    cursor: move;
  }

  .selected {
    border: 2px solid red;
  }

  .edit-panel {
    margin-top: 20px;
  }

  .edit-panel input {
    margin: 5px;
    padding: 5px;
  }

  /* サイドバー */
/* .sidebar {
    width: 96px;
    background-color: moccasin;
    box-sizing: border-box;
    border: 8px solid chocolate;
    font-size: 5vmin;
    z-index: 1000;
  } */
  /* .sidebar2 {
    width: 96px;
    background-color: rgb(181, 255, 248);
    box-sizing: border-box;
    border: 8px solid rgb(30, 156, 210);
    margin: 0 0 0 auto;
  } */

  /* サイドバーのスタイル */
  .sidebar {
    /* width: 250px; */
    width: 10%;
    height: 100vh;
    background-color: #f4f4f4;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 100;
  }

  /* サイドバーが開いた状態 */
  .sidebar-open {
    transform: translateX(0);
    z-index: 100;
  }
  /* サイドバーのスタイル */
  .sidebar2 {
    /* width: 250px; */
    width: 10%;
    height: 100vh;
    background-color: #f4f4f4;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 100;
  }

  /* サイドバーが開いた状態 */
  .sidebar-open2 {
    transform: translateX(0);
    z-index: 100;
  }